<% if logged_in? %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to user_path(current_user), class: "user" do %>
        <span class="user-name">
          <%= render_user_screen_name current_user %>
        </span>
        <span class="user-id">
          @#{current_user.name}
        </span>
      <% end %>
      <div class="user-activity">
        <div class="row">
          <div class="col-xs-4 tweets-num">
            <div class="text">
              つぶやき
            </div>
            <div class="num">
              <%= link_to current_user.tweets.count, user_path(current_user) %>
            </div>
          </div>
          <div class="col-xs-4 follow-num">
            <div class="text">
              フォロー
            </div>
            <div class="num">
              <%= link_to current_user.inverse_followers.count, follows_user_path(current_user) %>
            </div>
          </div>
          <div class="col-xs-4 follower-num">
            <div class="text">
              フォロワー
            </div>
            <div class="num">
              <%= link_to current_user.followers.count, followers_user_path(current_user) %>
            </div>
          </div>
        </div>
      </div>
      <% @tweet.errors.full_messages.each do |message| %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
      <% end %>
      <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control" %>
        </div>
        <%= f.submit "つぶやく", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
<% end %>


